   body {
       text-transform: capitalize;
   }
   
   #loader {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       display: flex;
   }
   
   .dash {
       margin: 0 15px;
       width: 35px;
       height: 15px;
       border-radius: 8px;
       background: rgb(255, 204, 0);
       box-shadow: 0 0 10px 0 #FECDFF;
   }
   
   .uno {
       margin-right: -18px;
       transform-origin: center left;
       animation: spin 3s linear infinite;
   }
   
   .dos {
       transform-origin: center right;
       animation: spin2 3s linear infinite;
       animation-delay: .2s;
   }
   
   .tres {
       transform-origin: center right;
       animation: spin3 3s linear infinite;
       animation-delay: .3s;
   }
   
   .cuatro {
       transform-origin: center right;
       animation: spin4 3s linear infinite;
       animation-delay: .4s;
   }
   
   @keyframes spin {
       0% {
           transform: rotate(0deg);
       }
       25% {
           transform: rotate(360deg);
       }
       30% {
           transform: rotate(370deg);
       }
       35% {
           transform: rotate(360deg);
       }
       100% {
           transform: rotate(360deg);
       }
   }
   
   @keyframes spin2 {
       0% {
           transform: rotate(0deg);
       }
       20% {
           transform: rotate(0deg);
       }
       30% {
           transform: rotate(-180deg);
       }
       35% {
           transform: rotate(-190deg);
       }
       40% {
           transform: rotate(-180deg);
       }
       78% {
           transform: rotate(-180deg);
       }
       95% {
           transform: rotate(-360deg);
       }
       98% {
           transform: rotate(-370deg);
       }
       100% {
           transform: rotate(-360deg);
       }
   }
   
   @keyframes spin3 {
       0% {
           transform: rotate(0deg);
       }
       27% {
           transform: rotate(0deg);
       }
       40% {
           transform: rotate(180deg);
       }
       45% {
           transform: rotate(190deg);
       }
       50% {
           transform: rotate(180deg);
       }
       62% {
           transform: rotate(180deg);
       }
       75% {
           transform: rotate(360deg);
       }
       80% {
           transform: rotate(370deg);
       }
       85% {
           transform: rotate(360deg);
       }
       100% {
           transform: rotate(360deg);
       }
   }
   
   @keyframes spin4 {
       0% {
           transform: rotate(0deg);
       }
       38% {
           transform: rotate(0deg);
       }
       60% {
           transform: rotate(-360deg);
       }
       65% {
           transform: rotate(-370deg);
       }
       75% {
           transform: rotate(-360deg);
       }
       100% {
           transform: rotate(-360deg);
       }
   }
   
   #products-container {
       display: none;
   }
   
   .product {
       border: 1px solid #ddd;
       padding: 10px;
       margin: 10px;
       background-color: #fff;
   }
   
   .navbar {
       background-color: #2c2c2a;
       color: #000000;
   }
   
   .nav-link {
       color: #000;
       font-size: 20px;
   }
   
   .mnui {
       margin-left: 30%;
       font-weight: 500;
       font-size: large;
   }
   
   .carousel {
       margin: auto;
       margin-top: 40px;
   }
   
   .carousel-inner {
       height: 350px;
       justify-content: center;
       border-radius: 15px;
   }
   
   .im {
       height: 350px;
       width: 100%;
       border-radius: 15px;
   }
   
   .crd {
       display: flex;
       justify-content: end;
       flex-direction: row-reverse;
       margin: 0px;
   }
   
   .ptnn {
       background-color: #f7df1e;
       padding: 10px;
       width: 140px;
       border-radius: 15px;
       text-align: center;
   }
   
   .featured__iteme {
       border-radius: 15px;
       box-shadow: var(--box-shadow);
   }
   
   .featured__item__image {
       object-fit: cover;
       border-radius: 15px;
       height: 212px;
       width: 260px;
       margin: 0px 0px 0px 20px;
       align-items: center;
   }
   
   #featuredid {
       height: 440px;
   }
   
   .btnw {
       transform: translate(-190px, 90px);
       height: 50px;
       width: 95px;
       font-size: 12px;
       position: absolute;
       display: flex;
       place-items: center;
       padding: 0px;
   }
   
   #b2 {
       transform: translate(-185px, 200px);
       padding: 0px;
   }
   
   .hid {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .container-2 {
       margin-top: 50px;
   }
   
   #countdown {
       height: 100px;
       background: rgb(2, 0, 36);
       background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 54%, rgba(0, 212, 255, 1) 100%);
       border-radius: 15px;
       display: flex;
       justify-content: space-evenly;
   }
   
   .box {
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
   }
   
   .smailbox {
       width: 60px;
       height: 60px;
       text-align: center;
       background-color: white;
       margin: 5px;
       color: black;
       padding: 3px0;
       position: relative;
       border-radius: 10px;
       font-weight: bolder;
   }
   
   .countdown__text-wrapper {
       margin-top: 30px;
       color: white;
       font-weight: bolder;
   }
   
   #products-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
       align-items: center;
   }
   
   .card {
       margin-top: 50px;
       margin-left: 30px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   }
   
   .card-text,
   .card-title {
       height: 25px;
       overflow: hidden;
       padding: 0px;
       margin-top: 0px;
   }
   
   .card-title {
       color: #333;
   }
   
   .card-img {
       height: 230px;
   }
   
   .card-prise {
       margin-top: 50px;
       color: #0f1e38;
   }
   
   .card:hover {
       padding: 10px;
       border: 1px solid var(--main-color);
       transition: .4s;
   }
   
   .btoa {
       color: white;
       width: 130px;
       height: 50px;
       border-radius: 15px;
       margin: auto;
       padding: 5px;
       position: relative;
       bottom: 10px;
       background-color: #0D172A;
       font-weight: 700;
       border: none;
   }
   
   .Prodacts {
       display: block;
       text-align: center;
       padding: 10x;
   }
   
   .btoa:hover {
       background-color: #f7df1e;
       color: black;
       transition: 700ms;
   }
   
   .accordion-card {
       width: 70%;
       text-align: start;
       font-size: 18px;
       margin-top: 20px;
       margin-left: 135px;
       display: block;
       border: .3px solid rgb(255, 221, 0);
       border-radius: 15px;
       overflow: hidden;
       height: auto;
   }
   
   .accordion-card p {
       margin-left: 15px;
   }
   
   .accordion {
       display: flex;
       flex-direction: column;
       width: 70%;
       margin: auto;
       text-align: center;
   }
   
   .contact {
       display: flex;
       flex-direction: column;
       width: 49%;
       margin: auto;
       margin-top: 25px;
       border: .3px solid rgb(255, 221, 0);
       border-radius: 15px;
       text-align: center;
   }
   
   .contact p {
       width: 100%;
       margin: auto;
       line-height: 2;
   }
   
   @media screen and (max-width: 768px) {
       .hid {
           flex-direction: column;
       }
       #products-container {
           justify-content: center;
       }
   }
   
   @media screen and (max-width: 992px) {
       #products-container {
           justify-content: center;
       }
       .accordion-card {
           margin: auto;
           margin-top: 40px;
           width: 100%;
       }
   }
   
   @media screen and (max-width: 1200px) {
       #products-container {
           justify-content: center;
       }
       .accordion-card,
       .contact {
           margin: auto;
           margin-top: 40px;
           width: 70%;
           height: auto;
       }
   }
   
   @media screen and (max-width: 600px) {
       .hid,
       .crd {
           flex-direction: column;
       }
       #products-container {
           /* justify-content: center; */
           margin-right: 25px;
       }
       .accordion-card {
           margin: auto;
           margin-top: 40px;
           width: 100%;
           height: auto;
       }
       .countdown__text-wrapper {
           color: rebeccapurple;
           margin: 0px;
           font-size: 12px;
       }
       #countdown {
           display: flex;
           text-align: center;
           flex-direction: column;
       }
       .smailbox {
           height: auto;
       }
       .box {
           justify-content: space-around;
       }
   }